.preloader {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  z-index: 90000;
}

.preloader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.preloader-first {
  background-color:#1d4054;
  overflow: hidden;
}

.preloader-first h2 {
  color: #fff;
  position: sticky;
  bottom: 25%;
  margin-top: 50px;
  text-align: center;
  z-index: 2;
}
.preloader object {
  height: 150px;
  transform-origin: center center;
  width: 150px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}