<template name="about">
    <main role="main" class="container">
        <h1>About <span class="fa fa-asterisk"></span>mon</h1>
        <p><span class="fa fa-asterisk"></span>mon (Asterisk Monitor) is an open source real time asterisk web monitor built with meteor.js</p>
        <div class="jumbotron">
            <div class="container">
                <h1>Real time logs</h1>
                <p>Keep track of all incoming and outgoing calls.</p>
            </div>
        </div>
        <div class="jumbotron">
            <div class="container">
                <h1>Conferences</h1>
                <p>Watch users that join and leave conference bridges in realtime. Watch as people stop and start talking, all 100% realtime as it happens.</p>
            </div>
        </div>
        <div class="jumbotron">
            <div class="container">
                <h1>Statistics</h1>
                <p>Realtime stats (how long average calls take, busy times of the day, etc)</p>
            </div>
        </div>
        <div class="jumbotron">
            <div class="container">
                <h1>Call Queue Monitoring</h1>
                <p>Realtime views of calls coming in and out of your call queues.</p>
            </div>
        </div>
    </main>
</template>