<head>
    <title>*monitor - Realtime Asterisk Web Monitor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Realtime Asterisk Web Monitoring">
    <meta name="author" content="Will Reiske">
</head>

<body>
</body>
<template name="layout">
    {{>header}}
    <div id="wrap">
        <div class="container">
            {{>warnings}}
            {{>yield}}
        </div>
    </div>
    {{>footer}}
</template>
<template name="loading">
    <div class="container-fluid">
        <div class="row">
            <div class="main">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Loading..</h3>
                    </div>
                    <div class="panel-body">
                        Please Wait
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
