<template name="editprofile">
    <hr />{{#unless currentUser.profile.name}}
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">No Full Name associated with this account</h3>
        </div>
        <div class="panel-body">
            Please make sure you have filled out your profile information fully.
        </div>
    </div>
    {{/unless}} {{#unless currentUser.username}}
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">No username associated with this account</h3>
        </div>
        <div class="panel-body">
            Please make sure you have filled out your profile information fully.
        </div>
    </div>
    {{/unless}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Edit Profile</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <img width="265" class="img-thumbnail" src="http://www.gravatar.com/avatar/{{md5 currentUser.emails.[0].address}}?s=265" alt="{{currentUser.emails.[0].address}}" />
                </div>
                <div class="col-xs-12 col-md-9">
                    <p>
                        <small>You can change your avatar at <a href="https://gravatar.com/" target="_blank">gravatar.com</a> - You can change your password by clicking your name on the top right of your screen, or <a href="javascript:$('#login-dropdown-list').addClass('open');">clicking here</a>.</small>
                    </p>
                    <p>
                        <div class="input-group input-group-small">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </span>
                            <input type="email" disabled id="email" value="{{currentUser.emails.[0].address}}" class="form-control">
                        </div>
                    </p>
                    <form action="/" method="POST">
                        <p>
                            <div class="input-group input-group-small">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input type="text" name="fullname" value="{{currentUser.profile.name}}" class="form-control" placeholder="Full Name">
                            </div>
                        </p>
                        <p>
                            <div class="input-group input-group-small">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-heart-empty"></span>
                                </span>
                                <input type="text" name="username" value="{{currentUser.username}}" class="form-control" placeholder="Username">
                            </div>
                        </p>
                        <p>
                            <button type="submit" class="btn btn-primary btn-small">Save</button>
                        </p>
                    </form>
                </div>
            </div>

        </div>
    </div>
</template>


