<template name="footer">
    <footer class="footer bg-dark">
        <div class="container">
          <span class="text-muted">
            <span class="fa fa-asterisk"></span>monitor - Realtime Asterisk Web Monitor &copy; {{currentYear}} <a href="https://www.mieweb.com/">Medical Informatics Engineering</a> &dash; <a href="https://github.com/wreiske/asteriskmonitor" target="_blank"><img src="https://img.shields.io/github/stars/wreiske/asteriskmonitor.svg"></a>
            {{#if currentUser}} 
                {{#if isadmin}} &dash; <a class="btn btn-sm btn-primary" href="/admin">Administration Panel</a>{{/if}} 
            {{/if}}
          </span>
        </div>
      </footer>
</template>