<template name="footer">
    <div id="footer">
        <div class="container">
            <p class="text-muted">
                <span class="fa fa-asterisk"></span>monitor - Realtime Asterisk Web Monitor &copy; {{currentYear}} <a href="https://www.mieweb.com/">Medical Informatics Engineering</a>. Created by <a href="https://github.com/wreiske/">Will Reiske</a>.
                {{#if currentUser}} 
                    {{#if isadmin}} &dash; <a href="/admin">Administration Panel</a>{{/if}} 
                {{/if}}
            </p>
        </div>
    </div>
</template>