<template name="header">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-asterisk"></span>monitor :: {{currentRoute}}</a>
            </div>
            <div class="navbar-collapse collapse">
                {{#if firstrun}}
                <ul class="nav navbar-nav pull-right">
                    <li class="active">
                        <a href="/firstrun">Setup</a>
                    </li>
                </ul>
                {{else}}
                <ul class="nav navbar-nav pull-right">
                    {{#if notloggedin}}
                    <li {{active "login" currentPage}}>
                        <a href="/">Please Login</a>
                    </li>
                    <li {{active "about" currentPage}}>
                        <a href="{{pathFor 'about'}}">About</a>
                    </li>
                    {{else}}

                    <li {{active "home" currentPage}}>
                        <a href="{{pathFor 'home'}}">Home</a>
                    </li>
                    <li {{active "events" currentPage}} class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li {{active "calls" currentPage}}>
                                <a href="/events/calls">Calls</a>
                            </li>
                            <li {{active "meetme" currentPage}}>
                                <a href="/events/meetme">MeetMe</a>
                            </li>
                            <li {{active "amilog" currentPage}}>
                                <a href="/events/amilog">All Events</a>
                            </li>     
                            <li {{active "queue" currentPage}}>
                                <a href="/events/queue">Call Queue</a>
                            </li>
                        </ul>
                    </li>
                    {{/if}}
                </ul>
                {{/if}}
            </div>
        </div>
    </div>
</template>
