<template name="header">
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <span class="navbar-brand">
        <a href="{{pathFor 'home'}}" class="fa fa-asterisk text-light pr-1"></a>
        <span class="d-none d-sm-inline">monitor :: </span>{{currentRoute}}
      </span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          {{#if firstrun}}
            <li class="nav-item active">
              <a class="nav-link" href="{{pathFor 'setup'}}">Setup</a>
            </li>
          {{else}}
            {{#if notloggedin}}
              <li class="nav-item {{active 'login'}}">
                <a class="nav-link" href="{{pathFor 'login'}}">Please Login</a>
              </li>
            {{else}}
              <li class="nav-item {{active 'home'}}">
                <a class="nav-link" href="{{pathFor 'home'}}">Home</a>
              </li>
              <li class="nav-item {{active 'conferences'}}">
                <a class="nav-link" href="{{pathFor 'conferences'}}">Conferences</a>
              </li>
              <li class="nav-item {{active 'directory'}}">
                    <a class="nav-link" href="{{pathFor 'directory'}}">Directory</a>
                  </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Events</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{pathFor 'calls'}}">Calls</a>
                  <a class="dropdown-item" href="{{pathFor 'amilog'}}">All Events</a>
                  <a class="dropdown-item" href="{{pathFor 'queue'}}">Call Queue</a>
                  <!--<div class="dropdown-divider"></div>-->
                </div>
              </li>
              <li class="nav-item {{active 'active'}}">
                <a class="nav-link" href="{{pathFor 'about'}}">About</a>
              </li>
            {{/if}}
          {{/if}}
          {{#if currentUser}}
            <li>
              <button class="btn btn-link text-light my-2 my-sm-0" type="submit">
                {{#if currentUser.profile.name}}
                  {{currentUser.profile.name}}
                {{else}}
                  {{currentUser.emails.[0].address}}
                {{/if}}
              </button>
            </li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </header>
</template>
