<template name="login">
    <main role="main" class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-9 col-sm-12 pull-center mx-auto">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Welcome to <span class="fa fa-asterisk"></span>monitor!</h5>
                        <p class="card-text">To get started, please login.</p>
                    </div>
                </div>
                {{#if setupComplete}}
                {{>atForm}}
                {{else}}
                <p>You need to <a href="{{pathFor 'setup'}}">setup</a> <span class="fa fa-asterisk"></span>monitor before you can continue.</p>
                {{/if}}
            </div>
        </div>
    </main>
</template>