<template name="setup">
    <main role="main" class="container">
        <div class="card bg-default">
            <div class="card-header">
                First Time Setup
            </div>
            <div class="card-body">
                <p>Welcome to your new <span class="fa fa-asterisk"></span>monitor setup. To get started, fill out the form below and hit Continue.</p>
                <form action="/" method="POST">
                    <p>
                        <div class="input-group mb-3" id="div_email">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="email-addon"><span class="fa fa-envelope"></span></span>
                            </div>
                            <input type="email" required name="email" class="form-control" placeholder="Please enter your current email address." aria-label="Email" aria-describedby="email-addon">
                        </div>

                    </p>
                    <p>
                        <div class="input-group mb-3" id="div_fullname">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="fullname-addon"><span class="fa fa-user"></span></span>
                            </div>
                            <input type="text" name="fullname" class="form-control" placeholder="This is your full name, first and last." aria-label="Full Name" aria-describedby="fullname-addon">
                        </div>
                    </p>
                    <p>
                        <div class="input-group mb-3" id="div_username">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="username-addon"><span class="fa fa-user"></span></span>
                            </div>
                            <input type="text" required name="username" class="form-control" placeholder="What would you like your administrator username to be?" aria-label="Username" aria-describedby="username-addon">
                        </div>

                    </p>
                    <p>
                        <div class="input-group mb-3" id="div_password">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="password-addon"><span class="fa fa-lock"></span></span>
                            </div>
                            <input type="password" required name="password" class="form-control" placeholder="Pick something strong for your password." aria-label="Password" aria-describedby="password-addon">
                        </div>
                    </p>
                    <p>
                        <div class="input-group mb-3" id="div_password_verify">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="password-verify-addon"><span class="fa fa-lock"></span></span>
                            </div>
                            <input type="password" required name="password_verify" class="form-control" placeholder="Please type your password again." aria-label="Password Again" aria-describedby="password-verify-addon">
                        </div>
                    </p>
                    <p>
                        <button type="submit" class="btn btn-primary btn-small">Continue</button>
                    </p>
                </form>
            </div>
        </div>

        <div style="display:none;" id="error" class="card card-danger">
            <div class="card-header">
                Error!
            </div>
            <div class="card-body" id="errors">
            </div>
        </div>
    </main>
</template>