<template name="warnings">
    {{#if isInRole 'admin'}}
        {{#unless ami_connected}}
        <div class="card bg-danger">
            <div class="card-header">
                Asterisk Server is not connected
            </div>
            <div class="card-body">
                Please make sure the Asterisk Server Information is correct in the <a href="{{pathFor 'admin'}}">Administration Panel</a>. You will not receive any events in <span class="fas fa-asterisk"></span>monitor until this is resolved.
            </div>
        </div>
        {{/unless}}
    {{/if}}

    {{#if notificationsDisabled}}
    <div class="card bg-danger">
            <div class="card-header">
                <i class="fas fa-bell" aria-hidden="true"></i> Notification Settings
            </div>
            <div class="card-body">
                Please allow Asterisk Monitor to send you notifications.
            </div>
        </div>
    {{/if}}
</template>