<template name="amilog">
    <main role="main" class="container">
        <div class="card bg-default">
            <div class="card-header">
                Ami Log (last 50 events)
            </div>
            <div class="card-body">
                {{#each event}}
                <div class="card bg-default">
                    <div class="card-header">
                        {{this.event}} {{moment this.starmon_timestamp}}
                    </div>
                    <div class="card-body">
                        {{{amitable this}}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </main>
</template>