<template name="queue">
    <main role="main" class="container">
        <div style="display:none;" id="error" class="card bg-danger">
            <div class="card-header">
                Error!
            </div>
            <div class="card-body" id="errors">
            </div>
        </div>
        <div class="card card-default">
            <div class="card-header">
                Call Queue
                <span class="badge badge-secondary float-right">{{caller_count}}</span>

            </div>
            <div class="card-body">
                {{#each caller}}
                <div class="modal" id="queue_caller_{{this._id}}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">{{this.calleridname}} - {{this.calleridnum}}</h4>
                            </div>
                            <div class="modal-body">
                                {{{amiblock this}}}
                            </div>
                            <div class="modal-footer">
                                <a href="#" data-dismiss="modal" class="btn">Close</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Number</th>
                                <th>Time</th>
                                <th>Queue</th>
                                <th>Position</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each caller}}
                            <tr data-toggle="queue_caller_{{this._id}}">
                                <td>{{this.count}}</td>
                                <td>{{this.calleridname}}</td>
                                <td>{{this.calleridnum}}</td>
                                <td>{{reactiveTime}}</td>
                                <td>
                                    {{this.queue}}
                                </td>
                                <td>{{this.position}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</template>